<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ConexionSQL" value="server=NBCUMPLI032\MSSQLSERVERLOCAL;database=Planilla;User ID=sa;Password=Manager_$opodes;"/>-->
    <add key="ConexionSQL" value="server=172.16.188.220;database=Planilla;User ID=bt_cumpli;Password=bt_cumpli;"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>